body {
    background-color: #0E1161;
    font-family: "Quicksand", sans-serif;
    color: white;
  }
  
  h1 {
    font-weight: 600;
    margin: 2rem;
  }

  .item-container {
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 2rem;
    height: 10rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
  }
  
  .item.active {
    display: block;
  }

  /* aldo */
  .containerA {
    padding: 2rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    /* display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(6, 1fr); */
    margin-left: 3rem;
  }
  
  .aldo-container{
    color: white;
    font-size: 2rem;
    border: 1px solid transparent;
    box-sizing: border-box;
    flex-basis: 16.67%;
    margin-bottom: 10rem;
  }

  .aldo-image{
    object-fit: cover;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    margin-top: 0rem;
  }

  /* coach */
  .containerC{
    padding: 2rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    margin-left: 3rem;
  }

  .coach-container {
    color: white;
    font-size: 2rem;
    border: 1px solid transparent;
    flex-basis: 16.67%;
    margin-bottom: 10rem;
  }

  .coach-image{
    object-fit: cover;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
  }

  /* estee lauder */
  .containerE{
    padding: 2rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    margin-left: 3rem;
  }

  .el-container {
    color: white;
    font-size: 2rem;
    border: 1px solid transparent;
    flex-basis: 16.67%;
    margin-bottom: 10rem;
  }

  .el-image{
    object-fit: cover;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
  }

  /* gucci */
  .containerG{
    padding: 2rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    margin-left: 3rem;
  }

  .gucci-container {
    color: white;
    font-size: 2rem;
    border: 1px solid transparent;
    flex-basis: 16.67%;
    margin-bottom: 10rem;
  }

  .gucci-image{
    object-fit: cover;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
  }

/* pandora */
.containerP {
    padding: 2rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    margin-left: 3rem;
  }
  
  .pandora-container{
    color: white;
    font-size: 2rem;
    border: 1px solid transparent;
    flex-basis: 16.67%;
    margin-bottom: 10rem;
  }
  
  .pandora-image{
    object-fit: cover;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
  }


/* uniqlo */
  .containerU {
    padding: 2rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    margin-left: 3rem;
  }
  
  .uniqlo-container{
    color: white;
    font-size: 2rem;
    border: 1px solid transparent;
    flex-basis: 16.67%;
    margin-bottom: 10rem;
  }
  
  .uniqlo-image{
    object-fit: cover;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
  }

  /* zara */
  .containerZ {
    padding: 2rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    margin-left: 3rem;
  }
  
  .zara-container{
    color: white;
    font-size: 2rem;
    border: 1px solid transparent;
    flex-basis: 16.67%;
  }
  
  .zara-image{
    object-fit: cover;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
  }


  .modal-container {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    display: none;
  }
  
  .modal-box {
    box-sizing: border-box;
    background: white;
    overflow-x: scroll;
    position: relative;
    height: auto;
    max-width: 600px;
    padding: 2rem;
  }
  
  .modal-image {
      width: 200px;
      height: auto;
  }
  
  .modal-close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  
  .modal-is-active .modal-container {
    display: flex;
  }
  
  


  